@import 'fonts';

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #000;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        color: #fff;
        text-decoration: none;
        margin: 0.15rem 2rem;
    }
} 

main {
    position: relative;
    z-index: 1;
    background-color: #fff;
    min-height: 100vh;
    transition: transform 0.3s ease-in-out;
    &.open {    
        transform: translateX(240px);
    }
}