@import 'fonts';

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.toggle-nav,
nav {
    position: fixed;
    top: 0;
    right: 0;
}
nav {
    width: 240px;
    height: 100vh;
    background-color: #000;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        color: #fff;
        text-decoration: none;
        margin: 0.15rem 2rem;
    }
} 
a.toggle-nav {
    z-index: 2;
    margin-top: 15px;
    margin-right: 25px;
    line-height: 1;
    text-decoration: none;
    color: #000;
    img {
        margin-right: 5px;
    }
    span {
        position: relative;
        top: -3px;
    }
}
main {
    position: relative;
    z-index: 1;
    background-color: #fff;
    min-height: 100vh;
}

.toggle-nav,
main {
    transition: transform 0.3s ease-in-out;
    &.open {    
    transform: translateX(-240px);
    }
}